---
import { Icon } from "astro-icon/components";
---

<a
    target="_blank"
    href="https://www.youtube.com/watch?v=6P9pNMzU43E"
    class="px-4 py-2 bg-rzs text-white rounded-lg hover:bg-rzs-hover flex transition-colors justify-center items-center gap-2 font-medium"
>
    <Icon name="tabler:calendar-plus" class="text-white inline w-5 h-5" />
    Dodaj do kalendarza
</a>
