---
import AnimatedMap from "./AnimatedMap";
import CountdownTimer from "./CountdownTimer";
import ScrollReveal from "./ScrollReveal.tsx";
import { Icon } from "astro-icon/components";
import StreamFeatures from "./StreamFeatures.astro";
---

<section id="features" class="max-w-6xl mx-auto px-4 pt-12">
  <ScrollReveal client:load delay={0.1} margin="100px">
    <h1 class="text-4xl font-bold text-gray-900 my-4 text-center">
      Wracamy w majówkę 2026
    </h1>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.25}>
    <hr class="h-px my-6 bg-gray-200 border-0" />
  </ScrollReveal>

  <ScrollReveal client:load delay={0.2}>
    <div class="flex justify-center pb-8">
      <CountdownTimer client:load />
    </div>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.4}>
    <div class="flex justify-center">
      <AnimatedMap client:load />
    </div>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.25}>
    <hr class="h-px my-6 bg-gray-200 border-0" />
  </ScrollReveal>

  <StreamFeatures />
</section>
