---
import { Icon } from "astro-icon/components";
import Logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<header
  class="w-full py-4 px-4 border-b border-gray-200 bg-white sticky top-0 z-50"
>
  <nav class="max-w-280 mx-auto flex items-center justify-between">
    <a
      href="/"
      class="text-2xl font-bold text-gray-900 hover:text-gray-700 transition-colors"
      aria-label="Rowerem z Sercem - logo"
    >
      <img
        transition:persist
        class="w-16 aspect-square py-1"
        src={"/logo.png"}
        alt="Logo Rowerem z Sercem"
      />
    </a>
    <ul class="flex items-center gap-6">
      <li>
        <a
          href="/info"
          class="text-gray-600 hover:text-gray-900 transition-colors"
          >Informacje</a
        >
      </li>
      <li>
        <a
          href="/kontakt"
          class="text-gray-600 hover:text-gray-900 transition-colors">Kontakt</a
        >
      </li>
      <li>
        <a
          target="_blank"
          href="https://www.youtube.com/watch?v=6P9pNMzU43E"
          class="px-4 py-2 bg-rzs text-white rounded-lg hover:bg-rzs-hover transition-colors flex justify-center items-center gap-2 font-medium"
        >
          <Icon name="tabler:calendar-plus" class="text-white inline w-5 h-5" />
          Dodaj do kalendarza
        </a>
      </li>
    </ul>
  </nav>
</header>
