---
import ScrollReveal from "./ScrollReveal.tsx";
import { Image } from "astro:assets";

import HerbSando from "../assets/sponsors/herb_snd.png";
import LogoSando from "../assets/sponsors/sando.png";
import FHUCyklistaLogo from "../assets/sponsors/fhu_cyklista.webp";
import Michu from "../assets/people/michu.jpg";

const sponsors = [
  {
    name: "Urząd Miasta Sandomierz",
    image: LogoSando,
    href: "https://sandomierz.eu/",
  },
  {
    name: "FHU Cyklista Sklep i Serwis",
    image: FHUCyklistaLogo,
    href: "https://sklepcyklista.pl/",
  },
];
---

<section id="features" class="max-w-6xl mx-auto pt-12 pb-16 p-4">
  <ScrollReveal client:load delay={0.2}>
    <h1 class="text-4xl font-bold text-gray-900 my-4 text-center">
      Partnerzy akcji
    </h1>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.3}>
    <hr class="h-px mt-0 bg-gray-200 border-0 mb-6" />
  </ScrollReveal>

  <ScrollReveal client:load delay={0.4}>
    <div class="flex justify-center">
      <div class="flex flex-row gap-4">
        {
          sponsors.map((sponsor, i) => (
            <a href={sponsor.href}>
              <div class="bg-white p-6 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
                <div class="w-full flex justify-center p-4 mb-2">
                  <Image
                    alt={`${sponsor.name}`}
                    src={sponsor.image}
                    class="h-18 w-auto"
                  />
                </div>
                <p class="max-w-64 text-center text-gray-800 font-semibold text-md">
                  {sponsor.name}
                </p>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </ScrollReveal>
</section>
