---
import ScrollReveal from "./ScrollReveal.tsx";
import { Image } from "astro:assets";

import HerbSando from "../assets/sponsors/herb_snd.png";
import LogoSando from "../assets/sponsors/sando.png";
import Michu from "../assets/people/michu.jpg";

const sponsors = [
  {
    name: "Miasto Sandomierz",
    image: LogoSando,
    href: "https://sandomierz.eu/",
  },
  {
    name: "Urząd Miasta Sandomierz",
    image: HerbSando,
    href: "https://sandomierz.eu/229/strona-glowna.html",
  },
];
---

<section id="features" class="max-w-6xl mx-auto pt-12 pb-16 p-4">
  <ScrollReveal client:load delay={0.2}>
    <h1 class="text-4xl font-bold text-gray-900 my-4 text-center">
      Partnerzy medialni
    </h1>
  </ScrollReveal>

  <ScrollReveal client:load delay={0.3}>
    <hr class="h-px mt-0 bg-gray-200 border-0 mb-6" />
  </ScrollReveal>

  <ScrollReveal client:load delay={0.4}>
    <div class="flex justify-center">
      <div class="flex flex-row gap-4">
        {
          sponsors.map((sponsor, i) => (
            <a href={sponsor.href}>
              <div class="bg-white p-8 rounded-lg border border-gray-200 hover:shadow-lg transition-shadow">
                <Image
                  alt={`${sponsor.name}`}
                  src={sponsor.image}
                  class="h-24 w-auto"
                />
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </ScrollReveal>
</section>
